.paymentContainer {
   width: 50%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-self: start;
   border-radius: 20px;
   background-color: rgb(0, 128, 128, .2);
   box-shadow: 0 2px 5px rgba(32, 32, 32, .3);
   padding: 3%;
}

.paymentContainer h1 {font-size: 3em;}
.paymentContainer h5 {
    letter-spacing: .1em; 
    font-weight: 200;
    margin-bottom: .7em;
}

.paymentContainer select {
    height: 3em;
    width: 100%;
    margin-bottom: 1.2em
}

.paymentContainer p{align-self: center;}

.paymentContainer .confirmbutton{
    width: 80%;
    height: 40px;
    align-self: center;
    background-color: #008080;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'bebas';
    letter-spacing: 3px;
    opacity: .9;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(32, 32, 32, .3);
}
.paymentContainer .confirmbutton:hover{
    background-color: rgba(14, 124, 124, 0.8);
}

.paymentContainer input{
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(143, 143, 143);
    background: white;
    border-radius: 5px;
    align-self: center;
}

.paymentContainer p{
    font-size: 1em;
}

