.depositContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
    border-radius: 20px;
    background-color: rgb(0, 128, 128, .5);
}