.expenses{
    padding: 20px;
}
.chart_container{
    display: flex;
    gap:  20px;
    padding: 10px;
}
.piechart{
    height: 150px;
    width: 150px;
    background-color: burlywood;
    border-radius: 50%;
}
.chart_guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.chart_guide p{
    margin-left: 10px;
}
