.expenses{
    padding: 20px;
}
.chart_container{
    display: flex;
    gap:  50px;
    padding: 10px;
}
.customchart{
    height: 400px;
    width: 800px;
    /* border-radius: 50%; */
}
.chart_guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 200px;
}