@font-face {
    font-family: 'Bebas Neue';
    src: url(/src/assets/fonts/BebasNeue-Regular.ttf);
}
.navbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0fef2;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    width: 180px;
    height: 40px;
    font-family:'Bebas Neue';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.navbtns:hover{
    background-color: #bffac8;
}
.navbtns:active{
    background-color: #5b5e5b;
    box-shadow: 0 1px rgb(156, 156, 156); 
    transform: translateY(2px); 
}
.navbtns.logoutbtn{
    position: absolute;
    bottom: 10px;
}
.navbtnslink{
    text-decoration: none;
    color: inherit;
}