.Dashboard{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 2px 2px rgb(128, 128, 128, .3);
    height: fit-content;
    border-radius: 25px;
    width: 100vw;
}
.dashboard_divider{
    width: 95%;
    border: 2px solid rgb(0, 128, 128, .7);
    border-radius: 25px;
    align-self: center;
}