*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f0fef2;
}
.mainbody{
    display: flex;
    height: 100vh;
}
.pages{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px;
}