.ManageUserContainer {
   width: 95%;
   height: fit-content;
   margin-left: 20px;
   margin-bottom: 15px;
   margin-top: 10px;
}

.ManageUserContainer form {
    width: 50%;
}


.ManageUserContainer form input{
    padding: 10px;
    border: 1px solid rgb(143, 143, 143);
    background: white;
}

.labels {
    display: block;
}

.fullName {
    display: flex;
}

.Contact input, .Email input, .Password input, .Address input {
    width: 407px;
}

.Firstname, .Address, .Contact, .Email, .Password, .Lastname {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.Lastname {
    margin-left: 25px;
}

.ManageUserContainer button {
    margin-top: 15px;
    padding: 10px 25px;
    width: 407px;
    border: none;
    background-color: #008080;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

