.headerContainer {
    height: 4.2rem;
    width: 100%;
    background-color: #008080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    box-shadow: 0 2px 5px rgba(32, 32, 32, .3);
}

.leftSide {
    display: flex;
}

.leftSide img{
    width: 70px; 
    padding-left: 15px;
}

.leftSide h1 {
    margin-top: 10px;
    margin-left: 10px;
    
}

.rightSide p:active{
    padding-right: 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

