.transaction {
    width: 100%;
    padding: 20px;
}

.transaction table {
    /* margin: 150px auto; */
    width: 70%;
    /* height: 600px; */
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;

    overflow: hidden;
    box-shadow: 0 2px 5px rgba(32, 32, 32, .3);
}

.transaction th {
    background-color: #008080;
    color: #fafafa;
    letter-spacing: 2px;
    font-size: 21px;
    text-transform: uppercase;
}

.transaction th, .transaction th {
    padding: 10px 15px;
}

.transaction table,
.transaction td {
    border-bottom: 1px solid black;
    font-size: 21px;
} 

.transaction tr:nth-child(even){
    background-color: #f1f1f1;
}